@model List<Kitap>

@if (TempData["basarili"] != null)
{
    <h5 style="color:red">@TempData["basarili"]</h5>
}

<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1>Mevcut Kitaplar</h1>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Kitap ID
                </th>
                <th>
                    Kitap Adı
                </th>
                <th>
                    Kitap Tanım
                </th>
                <th>
                    Kitap Yazar
                </th>
                <th>
                    Kitap Türü
                </th>
                <th>
                    Fiyat
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var kitap in Model)
            {
                <tr>
                    <td>@kitap.Id</td>
                    <td>@kitap.KitapAdi</td>
                    <td>@kitap.Tanim</td>
                    <td>@kitap.Yazar</td>
                    <td></td>
                    <td>@kitap.Fiyat</td>
                    <td>
                        <a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@kitap.Id" type="button" class="btn btn-success" style="width:200px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id" type="button" class="btn btn-danger" style="width:200px">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-1">
        <div>
            <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-info" type="button" style="background-color:#4d2b82; border-color: #4d2b82; "width:250px">
                Yeni Kitap Ekle
            </a>
        </div>
    </div>
</div>
